<!DOCTYPE html>

<html>
  <head>
    <title>Carol Gráfica</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="../../../../assets/css/main.css" />
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Items -->
          <header class="major">
            <h2>Letreiros</h2>
          </header>
          <div class="posts">
            <article>
              <a href="../../img/letreiro/angelic.webp" class="image">
                <img
                  src="../../img/letreiro/angelic.webp"
                  alt="Letreiro Angelic"
                />
              </a>
              <h3>Letreiro Angelic</h3>
              <p>
                Destaque sua marca com o Letreiro Angelic, projetado para atrair
                olhares e refletir elegância e sofisticação.
              </p>
            </article>

            <article>
              <a href="../../img/letreiro/bezerra-reboques.webp" class="image">
                <img
                  src="../../img/letreiro/bezerra-reboques.webp"
                  alt="Letreiro Bezerra Reboques"
                />
              </a>
              <h3>Letreiro Bezerra Reboques</h3>
              <p>
                Seja visto de longe com o Letreiro Bezerra Reboques, ideal para
                empresas que desejam ser notadas e lembradas.
              </p>
            </article>

            <article>
              <a href="../../img/letreiro/bia-guirao.webp" class="image">
                <img
                  src="../../img/letreiro/bia-guirao.webp"
                  alt="Letreiro Bia Guirão"
                />
              </a>
              <h3>Letreiro Bia Guirão</h3>
              <p>
                Transforme sua fachada com o Letreiro Bia Guirão, a escolha
                perfeita para um visual moderno e impactante.
              </p>
            </article>

            <article>
              <a href="../../img/letreiro/bushi-temakeria.webp" class="image">
                <img
                  src="../../img/letreiro/bushi-temakeria.webp"
                  alt="Letreiro Bushi Temakeria"
                />
              </a>
              <h3>Letreiro Bushi Temakeria</h3>
              <p>
                Conquiste seus clientes com o Letreiro Bushi Temakeria,
                combinando design japonês com alta visibilidade.
              </p>
            </article>

            <article>
              <a href="../../img/letreiro/casa-do-para (2).webp" class="image">
                <img
                  src="../../img/letreiro/casa-do-para (2).webp"
                  alt="Letreiro Casa do Pará"
                />
              </a>
              <h3>Letreiro Casa do Pará</h3>
              <p>
                Fortaleça sua identidade local com o Letreiro Casa do Pará,
                perfeito para negócios que valorizam suas raízes.
              </p>
            </article>

            <article>
              <a href="../../img/letreiro/casa-do-para- (2).webp" class="image">
                <img
                  src="../../img/letreiro/casa-do-para- (2).webp"
                  alt="Letreiro Casa do Pará Alternativo"
                />
              </a>
              <h3>Letreiro Casa do Pará Alternativo</h3>
              <p>
                Adicione um toque de autenticidade com o Letreiro Casa do Pará
                Alternativo, destacando o caráter único do seu negócio.
              </p>
            </article>

            <article>
              <a href="../../img/letreiro/casa-do-para-.webp" class="image">
                <img
                  src="../../img/letreiro/casa-do-para-.webp"
                  alt="Letreiro Regional Casa do Pará"
                />
              </a>
              <h3>Letreiro Regional Casa do Pará</h3>
              <p>
                Mostre o melhor da sua cultura com o Letreiro Regional Casa do
                Pará, ideal para ambientes que respiram tradição.
              </p>
            </article>

            <article>
              <a href="../../img/letreiro/casa-do-para.webp" class="image">
                <img
                  src="../../img/letreiro/casa-do-para.webp"
                  alt="Letreiro Tradicional Casa do Pará"
                />
              </a>
              <h3>Letreiro Tradicional Casa do Pará</h3>
              <p>
                Atraia atenção com o Letreiro Tradicional Casa do Pará, uma
                escolha confiável para negócios que valorizam sua história.
              </p>
            </article>

            <article>
              <a href="../../img/letreiro/chalk.webp" class="image">
                <img src="../../img/letreiro/chalk.webp" alt="Letreiro Chalk" />
              </a>
              <h3>Letreiro Chalk</h3>
              <p>
                Crie um ambiente acolhedor e convidativo com o Letreiro Chalk,
                perfeito para estabelecimentos descolados e modernos.
              </p>
            </article>

            <article>
              <a href="../../img/letreiro/ciec.webp" class="image">
                <img src="../../img/letreiro/ciec.webp" alt="Letreiro CIEC" />
              </a>
              <h3>Letreiro CIEC</h3>
              <p>
                Destacar-se é fácil com o Letreiro CIEC, ideal para instituições
                que desejam um visual profissional e imponente.
              </p>
            </article>

            <article>
              <a href="../../img/letreiro/dibasa-elevadores.webp" class="image">
                <img
                  src="../../img/letreiro/dibasa-elevadores.webp"
                  alt="Letreiro Dibasa Elevadores"
                />
              </a>
              <h3>Letreiro Dibasa Elevadores</h3>
              <p>
                Eleve sua marca com o Letreiro Dibasa Elevadores, projetado para
                impressionar com sua presença marcante.
              </p>
            </article>

            <article>
              <a href="../../img/letreiro/espaco-lima.webp" class="image">
                <img
                  src="../../img/letreiro/espaco-lima.webp"
                  alt="Letreiro Espaço Lima"
                />
              </a>
              <h3>Letreiro Espaço Lima</h3>
              <p>
                Faça seu espaço brilhar com o Letreiro Espaço Lima, a combinação
                perfeita de estilo e funcionalidade.
              </p>
            </article>

            <article>
              <a href="../../img/letreiro/faculdade-ibgm.webp" class="image">
                <img
                  src="../../img/letreiro/faculdade-ibgm.webp"
                  alt="Letreiro Faculdade IBGM"
                />
              </a>
              <h3>Letreiro Faculdade IBGM</h3>
              <p>
                Transmita credibilidade e tradição com o Letreiro Faculdade
                IBGM, ideal para instituições educacionais renomadas.
              </p>
            </article>

            <article>
              <a href="../../img/letreiro/grupo-performe.webp" class="image">
                <img
                  src="../../img/letreiro/grupo-performe.webp"
                  alt="Letreiro Grupo Performe"
                />
              </a>
              <h3>Letreiro Grupo Performe</h3>
              <p>
                Impulsione sua presença no mercado com o Letreiro Grupo
                Performe, perfeito para empresas que buscam destaque.
              </p>
            </article>

            <article>
              <a
                href="../../img/letreiro/hirtacides-advogados-associados.webp"
                class="image"
              >
                <img
                  src="../../img/letreiro/hirtacides-advogados-associados.webp"
                  alt="Letreiro Hirtacides Advogados Associados"
                />
              </a>
              <h3>Letreiro Hirtacides Advogados Associados</h3>
              <p>
                Reforce a autoridade do seu escritório com o Letreiro Hirtacides
                Advogados Associados, elegante e profissional.
              </p>
            </article>

            <article>
              <a
                href="../../img/letreiro/narcisa-pessoa-odontologia.webp"
                class="image"
              >
                <img
                  src="../../img/letreiro/narcisa-pessoa-odontologia.webp"
                  alt="Letreiro Narcisa Pessoa Odontologia"
                />
              </a>
              <h3>Letreiro Narcisa Pessoa Odontologia</h3>
              <p>
                Seja a referência em saúde bucal com o Letreiro Narcisa Pessoa
                Odontologia, ideal para clínicas odontológicas modernas.
              </p>
            </article>

            <article>
              <a
                href="../../img/letreiro/pernambuco-quimica.webp"
                class="image"
              >
                <img
                  src="../../img/letreiro/pernambuco-quimica.webp"
                  alt="Letreiro Pernambuco Química"
                />
              </a>
              <h3>Letreiro Pernambuco Química</h3>
              <p>
                Comunique inovação e expertise com o Letreiro Pernambuco
                Química, perfeito para empresas do setor químico.
              </p>
            </article>

            <article>
              <a href="../../img/letreiro/santa-agencia.webp" class="image">
                <img
                  src="../../img/letreiro/santa-agencia.webp"
                  alt="Letreiro Santa Agência"
                />
              </a>
              <h3>Letreiro Santa Agência</h3>
              <p>
                Destaque sua agência com o Letreiro Santa Agência, projetado
                para transmitir criatividade e inovação.
              </p>
            </article>

            <article>
              <a href="../../img/letreiro/image00060.jpeg" class="image">
                <img
                  src="../../img/letreiro/image00060.jpeg"
                  alt="Letreiro PMPE"
                />
              </a>
              <h3>Letreiro PMPE</h3>
              <p>
                Letreiro em acrílico com iluminação em LED, para a Polícia
                Militar de Pernambuco.
              </p>
            </article>

            <article>
              <a href="../../img/letreiro/image00067.jpeg" class="image">
                <img
                  src="../../img/letreiro/image00067.jpeg"
                  alt="Letreiro PMPE"
                />
              </a>
              <h3>Letreiro PMPE</h3>
              <p>
                Letreiro em acrílico com iluminação em LED, para a Polícia
                Militar de Pernambuco.
              </p>
            </article>

            <article>
              <a href="../../img/letreiro/image00069.jpeg" class="image">
                <img
                  src="../../img/letreiro/image00069.jpeg"
                  alt="Letreiro PMPE"
                />
              </a>
              <h3>Letreiro PMPE</h3>
              <p>
                Letreiro em acrílico com iluminação em LED, para a Polícia
                Militar de Pernambuco.
              </p>
            </article>

            <article>
              <a href="../../img/letreiro/yes-cosmetics.webp" class="image">
                <img
                  src="../../img/letreiro/yes-cosmetics.webp"
                  alt="Letreiro YES Cosmetics"
                />
              </a>
              <h3>Letreiro YES Cosmetics</h3>
              <p>
                Realce a beleza da sua marca com o Letreiro YES Cosmetics, ideal
                para destacar sua loja de cosméticos.
              </p>
            </article>

            <article>
              <a href="../../img/letreiro/image00069.jpeg" class="image">
                <img
                  src="../../img/letreiro/image00069.jpeg"
                  alt="Letreiro PMPE"
                />
              </a>
              <h3>Letreiro PMPE</h3>
              <p>
                Letreiro em acrílico com iluminação em LED, para a Polícia
                Militar de Pernambuco.
              </p>
            </article>

            <article>
              <a href="../../img/letreiro/image00074.jpeg" class="image">
                <img
                  src="../../img/letreiro/image00074.jpeg"
                  alt="Letreiro PMPE"
                />
              </a>
              <h3>Letreiro Ford</h3>
              <p>
                Letreiro em acrílico com iluminação em LED, para a Ford.
              </p>
            </article>

            <article>
              <a href="../../img/letreiro/image00075.jpeg" class="image">
                <img
                  src="../../img/letreiro/image00075.jpeg"
                  alt="Letreiro PMPE"
                />
              </a>
              <h3>Letreiro Ford</h3>
              <p>
                Letreiro em acrílico com iluminação em LED, para a Ford.
              </p>
            </article>
          </div>
        </div>
      </div>

      <!-- Sidebar -->
      <div id="sidebar">
        <div class="inner">
          <!-- Menu -->
          <nav id="menu">
            <header class="major">
              <h2>Menu</h2>
            </header>
            <ul>
              <li><a href="index.html">Quem Somos</a></li>
              <li>
                <span class="opener">Adesivação</span>
                <ul>
                  <li><a href="./pages/components/adesivacao/adesivojateado.html">Adesivo Jateado</a></li>
                  <li><a href="./pages/components/adesivacao/adesivosvinilicos.html">Adesivos Vinílicos</a></li>
                  <li><a href="./pages/components/adesivacao/perfurado.html">Perfurado</a></li>
                  <li><a href="/pages/components/adesivacao/resinado.html">Resinado</a></li>
                  <li><a href="/pages/components/adesivacao/transparente.html">Transparente</a></li>
                  <li><a href="/pages/components/adesivacao/veiculos.html">Veículos</a></li>
                </ul>
              </li>
              <li><a href="../fachadas/fachada.html">Fachadas</a></li>
              <li><a href="./letreiro.html">Letreiros</a></li>
              <li>
                <span class="opener">Brindes Personalizados</span>
                <ul>
                  <li><a href="../brindes/mdf.html">Brindes MDF</a></li>
                  <li><a href="../brindes/canecas.html">Canecas</a></li>
                  <li><a href="../brindes/garrafa.html">Garrafas</a></li>
                  <li><a href="../brindes/outros.html">Outros</a></li>
                </ul>
              </li>
              <li><a href="../placas/placas.html">Placas e Banners</a></li>
              <li><a href="../carimbos/carimbos.html">Carimbos</a></li>

              <li>
                <a href="../formatura/formatura.html"
                  >Produtos para Formatura</a
                >
              </li>
              <li>
                <span class="opener">Comunicação Visual</span>
                <ul>
                  <li>
                    <a href="../comunicacao/cartoes.html"
                      >Cartões de Visita e Cartazes</a
                    >
                  </li>
                  <li>
                    <a href="../comunicacao/panfleto.html"
                      >Panfletos e Envelopes</a
                    >
                  </li>
                  <li>
                    <a href="../comunicacao/sinalizacao.html"
                      >Sinalização Interna e Externa</a
                    >
                  </li>
                </ul>
              </li>
              <li>
                <a href="../acrilico/acrilico.html">Acrilicos</a>
              </li>
              <li>
                <a href="../windbanners/windbanner.html"
                  >Windbanners e Totens</a
                >
              </li>
            </ul>
          </nav>
          <!-- Section -->
          <section>
            <h2>Nossos Serviços</h2>
            <div class="mini-posts">
              <article>
                <a
                  href="https://carolgrafica.com.br/images/servicos/oi-5a721d9c6d35b.jpg"
                  class="image"
                  ><img
                    src="https://carolgrafica.com.br/images/servicos/oi-5a721d9c6d35b.jpg"
                    alt=""
                /></a>
                <p>
                  Referência em Adesivação de Veículos de pequeno, médio e
                  grande porte.
                </p>
                <a
                  href="/pages/components/adesivacao/veiculos.html"
                  class="button"
                  >Veja Mais</a
                >
              </article>

              <article>
                <a
                  href="https://carolgrafica.com.br/images/produtos/dra.-ketelen-mariane-5d69030fe9fa9.jpg"
                  class="image"
                  ><img
                    src="https://carolgrafica.com.br/images/produtos/dra.-ketelen-mariane-5d69030fe9fa9.jpg"
                    alt=""
                /></a>
                <p>
                  Temos produtos em MDF, PVC e Acrílico de Alta qualidade,
                  Versatilidade e Sustentabilidade para Cada Projeto!
                </p>
                <a href="/pages/components/brindes/mdf.html" class="button"
                  >Veja Mais</a
                >
              </article>
              <article>
                <a
                  href="https://carolgrafica.com.br/images/servicos/academia-vida-ativa-5c10533faf9da.jpg"
                  class="image"
                  ><img
                    src="https://carolgrafica.com.br/images/servicos/academia-vida-ativa-5c10533faf9da.jpg"
                    alt=""
                /></a>
                <p>
                  Fazemos adesivos resinados, perfurados, transparentes e
                  leitosos para todos os tipos de veículos e ambientes.
                </p>
              </article>
            </div>
            <ul class="actions">
              <li>
                <a
                  href="/pages/components/adesivacao/resinado.html"
                  class="button"
                  >Veja Mais</a
                >
              </li>
            </ul>
          </section>
          <!-- Section -->
          <section>
            <header class="major">
              <h2>Sustentabilidade</h2>
            </header>
            <p>
              A Carol Gráfica procura sempre trabalhar com produtos que
              apresentam o menor impacto ao meio-ambiente. Exemplo disso é o
              acrílico, um material 100% reciclável e ecologicamente correto.
              Estamos também na era da impressão à base de látex, que dispensa o
              uso de solventes no processo de cura e é a tecnologia com mais
              certificação ambiental do mercado.
            </p>
            <ul class="contact">
              <li class="icon solid fa-envelope">
                <a href="mailto:contato@carolgrafica.com.br"
                  >contato@carolgrafica.com.br</a
                >
              </li>
              <li class="icon solid fa-phone">(81)4101-0853</li>
              <li class="icon solid fa-phone">(81)3455-9599</li>
              <li class="icon solid fa-home">
                Localizada na Avenida Doutor José Rufino 1385.<br />
                Areias, Recife - PE, CEP 50900-660. <br />
                lado do Mini Shopping de Areias e da Carol Esportes.<br />
                Venha nos fazer uma visita!
              </li>
            </ul>
            <h2>Nossa Localização</h2>
            <article class="frameMaps">
              <iframe
                src="https://www.google.com/maps/embed?pb=!3m2!1spt-BR!2sbr!4v1720784962925!5m2!1spt-BR!2sbr!6m8!1m7!1suv_B2pxWU_cw5VdkJiQRgg!2m2!1d-8.09117334416194!2d-34.93553239949443!3f116.40948654250664!4f4.007482363925462!5f0.7820865974627469"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </article>
          </section>

          <!-- Footer -->
          <footer id="footer">
            <p class="copyright">
              &copy; © Carol Gráfica. All rights reserved.
            </p>
          </footer>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="../../../../assets/js/jquery.min.js"></script>
    <script src="../../../../assets/js/browser.min.js"></script>
    <script src="../../../../assets/js/breakpoints.min.js"></script>
    <script src="../../../../assets/js/util.js"></script>
    <script src="../../../../assets/js/main.js"></script>
  </body>
</html>
