<!DOCTYPE html>

<html>
  <head>
    <title>Carol Gráfica</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="../../../../assets/css/main.css" />
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Items -->
          <section>
            <header class="major">
              <h2>Outros(Chaveiros, Canetas)</h2>
            </header>
            <div class="posts">
              <article>
                <a href="../../img/brindes/outros/outros (1).webp" class="image">
                  <img src="../../img/brindes/outros/outros (1).webp" alt="Capas para Smartphones" />
                </a>
                <h3>Capas para Smartphones</h3>
                <p>
                  Capinhas de celular personalizadas com fotos, nomes e frases especiais para você ou para presentear. Proteja seu celular com estilo e exclusividade.
                </p>
              </article>
            
              <article>
                <a href="../../img/brindes/outros/outros (2).webp" class="image">
                  <img src="../../img/brindes/outros/outros (2).webp" alt="Canecas Personalizadas" />
                </a>
                <h3>Canecas Personalizadas</h3>
                <p>
                  Adicione um toque pessoal às suas bebidas com nossas Canecas Personalizadas, perfeitas para presentear ou marcar sua presença.
                </p>
              </article>
            
              <article>
                <a href="../../img/brindes/outros/outros (3).webp" class="image">
                  <img src="../../img/brindes/outros/outros (3).webp" alt="Chaveiros Personalizados" />
                </a>
                <h3>Chaveiros Personalizados</h3>
                <p>
                  Chaveiros Românticos, Divertidos, Elegantes e muito mais! Personalize seu Chaveiro com fotos, nomes e frases especiais para você ou para presentear.
                </p>
              </article>
            
              <article>
                <a href="../../img/brindes/outros/outros (4).webp" class="image">
                  <img src="../../img/brindes/outros/outros (4).webp" alt="Canetas" />
                </a>
                <h3>Canetas</h3>
                <p>
                  Canetas para sua empresa, eventos, brindes e muito mais. Personalize com sua marca e faça sucesso com seus clientes.
                </p>
              </article>
            
              <article>
                <a href="../../img/brindes/outros/Screenshot Capture - 2024-07-25 - 10-14-31.png" class="image">
                  <img src="../../img/brindes/outros/Screenshot Capture - 2024-07-25 - 10-14-31.png" alt="Placas em Madeira" />
                </a>
                <h3>Placas em Madeira</h3>
                <p>
                  Adicione um toque rústico e sofisticado com nossas Placas em Madeira, ideais para homenagens, decoração ou eventos especiais.
                </p>
              </article>
            
              <article>
                <a href="/pages/img/brindes/outros/09050325-6AC0-49BB-92E2-7A4309064E53.webp" class="image">
                  <img src="/pages/img/brindes/outros/09050325-6AC0-49BB-92E2-7A4309064E53.webp" alt="Trófeus para premiações de futebol" />
                </a>
                <h3>Trófeus para premiações de futebol</h3>
                <p>
                  Trófeus personalizados para premiações de futebol, com qualidade e durabilidade.
                </p>
              </article>
            
              <article>
                <a href="/pages/img/brindes/outros/8CCD8230-D32D-454F-9258-08B4E88ED34D.webp" class="image">
                  <img src="/pages/img/brindes/outros/8CCD8230-D32D-454F-9258-08B4E88ED34D.webp" alt="Troféus para lojas de roupas" />
                </a>
                <h3>Troféus para lojas de roupas</h3>
                <p>
                  Troféus personalizados para lojas de roupas, com qualidade e durabilidade.
                </p>
              </article>
            
              <article>
                <a href="/pages/img/brindes/outros/B4D7F32D-61D7-459C-AC76-6D85BE36294C-11.webp" class="image">
                  <img src="/pages/img/brindes/outros/B4D7F32D-61D7-459C-AC76-6D85BE36294C-11.webp" alt="Troféus para premiações de futebol" />
                </a>
                <h3>Troféus para premiações de futebol</h3>
                <p>
                  Troféus personalizados para premiações de futebol.
                </p>
              </article>
            
              <article>
                <a href="/pages/img/brindes/outros/BF46B022-70E8-4BBB-B204-C00F3F4E0E77.webp" class="image">
                  <img src="/pages/img/brindes/outros/BF46B022-70E8-4BBB-B204-C00F3F4E0E77.webp" alt="Troféus para premiações de futebol" />
                </a>
                <h3>Troféus para premiações de futebol</h3>
                <p>
                  Troféus personalizados para premiações de futebol.
                </p>
              </article>
            
              <article>
                <a href="/pages/img/brindes/outros/C5D374B2-FC40-47F8-9CF4-6FCF8119AE79.webp" class="image">
                  <img src="/pages/img/brindes/outros/C5D374B2-FC40-47F8-9CF4-6FCF8119AE79.webp" alt="Troféus para premiações de futebol" />
                </a>
                <h3>Troféus para premiações de futebol</h3>
                <p>
                  Troféus personalizados para premiações de futebol.
                </p>
              </article>
            
              <article>
                <a href="/pages/img/brindes/outros/" class="image">
                  <img src="/pages/img/brindes/outros/" alt="" />
                </a>
                <h3></h3>
                <p></p>
              </article>
            </div>
            
          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <div id="sidebar">
        <div class="inner">
          <!-- Menu -->
          <nav id="menu">
            <header class="major">
              <h2>Menu</h2>
            </header>
            <ul>
              <li><a href="/index.html">Quem Somos</a></li>
              <li>
                <span class="opener">Adesivação</span>
                <ul>
                  <li><a href="/pages/components/adesivacao/adesivojateado.html">Adesivo Jateado</a></li>
                  <li><a href="/pages/components/adesivacao/adesivosvinilicos.html">Adesivos Vinílicos</a></li>
                  <li><a href="/pages/components/adesivacao/perfurado.html">Perfurado</a></li>
                  <li><a href="/pages/components/adesivacao/resinado.html">Resinado</a></li>
                  <li><a href="/pages/components/adesivacao/transparente.html">Transparente</a></li>
                  <li><a href="/pages/components/adesivacao/veiculos.html">Veículos</a></li>
                </ul>
              </li>
              <li><a href="../fachadas/fachada.html">Fachadas</a></li>
              <li><a href="../letreiros/letreiro.html">Letreiros</a></li>
              <li><a href="/pages/components/lonas/lona.html">Lonas</a></li>
              <li>
                <span class="opener">Brindes Personalizados</span>
                <ul>
                  <li><a href="./mdf.html">Brindes MDF</a></li>
                  <li><a href="./canecas.html">Canecas</a></li>
                  <li><a href="./garrafa.html">Garrafas</a></li>
                  <li><a href="../brindes/outros.html">Outros</a></li>
                </ul>
              </li>
              <li><a href="../placas/placas.html">Placas e Banners</a></li>
              <li><a href="../carimbos/carimbos.html">Carimbos</a></li>

              <li>
                <a href="../formatura/formatura.html"
                  >Produtos para Formatura</a
                >
              </li>
              <li>
                <span class="opener">Comunicação Visual</span>
                <ul>
                  <li>
                    <a href="../comunicacao/cartoes.html"
                      >Cartões de Visita e Cartazes</a
                    >
                  </li>
                  <li>
                    <a href="../comunicacao/panfleto.html"
                      >Panfletos e Envelopes</a
                    >
                  </li>
                  <li>
                    <a href="../comunicacao/sinalizacao.html"
                      >Sinalização Interna e Externa</a
                    >
                  </li>
                </ul>
              </li>
              <li>
                <a href="../acrilico/acrilico.html">Acrilicos</a>
              </li>
              <li>
                <a href="../windbanners/windbanner.html"
                  >Windbanners e Totens</a
                >
              </li>
            </ul>
          </nav>
          <!-- Section -->
          <section>
            <h2>Nossos Serviços</h2>
            <div class="mini-posts">
              <article>
                <a
                  href="https://carolgrafica.com.br/images/servicos/oi-5a721d9c6d35b.jpg"
                  class="image"
                  ><img
                    src="https://carolgrafica.com.br/images/servicos/oi-5a721d9c6d35b.jpg"
                    alt=""
                /></a>
                <p>
                  Referência em Adesivação de Veículos de pequeno, médio e
                  grande porte.
                </p>
                <a
                  href="/pages/components/adesivacao/veiculos.html"
                  class="button"
                  >Veja Mais</a
                >
              </article>

              <article>
                <a
                  href="https://carolgrafica.com.br/images/produtos/dra.-ketelen-mariane-5d69030fe9fa9.jpg"
                  class="image"
                  ><img
                    src="https://carolgrafica.com.br/images/produtos/dra.-ketelen-mariane-5d69030fe9fa9.jpg"
                    alt=""
                /></a>
                <p>
                  Temos produtos em MDF, PVC e Acrílico de Alta qualidade,
                  Versatilidade e Sustentabilidade para Cada Projeto!
                </p>
                <a href="/pages/components/brindes/mdf.html" class="button"
                  >Veja Mais</a
                >
              </article>
              <article>
                <a
                  href="https://carolgrafica.com.br/images/servicos/academia-vida-ativa-5c10533faf9da.jpg"
                  class="image"
                  ><img
                    src="https://carolgrafica.com.br/images/servicos/academia-vida-ativa-5c10533faf9da.jpg"
                    alt=""
                /></a>
                <p>
                  Fazemos adesivos resinados, perfurados, transparentes e
                  leitosos para todos os tipos de veículos e ambientes.
                </p>
              </article>
            </div>
            <ul class="actions">
              <li>
                <a
                  href="/pages/components/adesivacao/resinado.html"
                  class="button"
                  >Veja Mais</a
                >
              </li>
            </ul>
          </section>
          <!-- Section -->
          <section>
            <header class="major">
              <h2>Sustentabilidade</h2>
            </header>
            <p>
              A Carol Gráfica procura sempre trabalhar com produtos que
              apresentam o menor impacto ao meio-ambiente. Exemplo disso é o
              acrílico, um material 100% reciclável e ecologicamente correto.
              Estamos também na era da impressão à base de látex, que dispensa o
              uso de solventes no processo de cura e é a tecnologia com mais
              certificação ambiental do mercado.
            </p>
            <ul class="contact">
              <li class="icon solid fa-envelope">
                <a href="mailto:contato@carolgrafica.com.br"
                  >contato@carolgrafica.com.br</a
                >
              </li>
              <li class="icon solid fa-phone">(81)4101-0853</li>
              <li class="icon solid fa-phone">(81)3455-9599</li>
              <li class="icon solid fa-home">
                Localizada na Avenida Doutor José Rufino 1385.<br />
                Areias, Recife - PE, CEP 50900-660. <br />
                lado do Mini Shopping de Areias e da Carol Esportes.<br />
                Venha nos fazer uma visita!
              </li>
            </ul>
            <h2>Nossa Localização</h2>
            <article class="frameMaps">
              <iframe
                src="https://www.google.com/maps/embed?pb=!3m2!1spt-BR!2sbr!4v1720784962925!5m2!1spt-BR!2sbr!6m8!1m7!1suv_B2pxWU_cw5VdkJiQRgg!2m2!1d-8.09117334416194!2d-34.93553239949443!3f116.40948654250664!4f4.007482363925462!5f0.7820865974627469"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </article>
          </section>

          <!-- Footer -->
          <footer id="footer">
            <p class="copyright">
              &copy; © Carol Gráfica. All rights reserved.
            </p>
          </footer>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="../../../../assets/js/jquery.min.js"></script>
    <script src="../../../../assets/js/browser.min.js"></script>
    <script src="../../../../assets/js/breakpoints.min.js"></script>
    <script src="../../../../assets/js/util.js"></script>
    <script src="../../../../assets/js/main.js"></script>
  </body>
</html>
