<!DOCTYPE html>

<html>
  <head>
    <title>Carol Gráfica</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Items -->
          <section>
            <header class="major">
              <h2>Adesivos Vinílicos</h2>
            </header>
            <div class="posts">
              <article>
                <a href="../../img/adesivacao/recorte/jonhson.webp" class="image">
                  <img src="../../img/adesivacao/recorte/jonhson.webp" alt="Jhonson" />
                </a>
                <h3>Adesivo Recortado Pequeno</h3>
                <p>
                  Elegância em cada detalhe no adesivo recortado para a Jhonson.
                </p>
              </article>
              <article>
                <a href="../../img/adesivacao/recorte/alameda.webp" class="image">
                  <img src="../../img/adesivacao/recorte/alameda.webp" alt="Alameda" />
                </a>
                <h3>Adesivo Recortado</h3>
                <p>
                  Sofisticação e estilo no adesivo recortado para a Alameda.
                </p>
              </article>
              <article>
                <a href="../../img/adesivacao/recorte/edf.webp" class="image">
                  <img src="../../img/adesivacao/recorte/edf.webp" alt="Edf" />
                </a>
                <h3>Adesivo de Letras</h3>
                <p>
                  Identidade marcante no adesivo de letras para Eduardo Feitosa.
                </p>
              </article>
              <article>
                <a href="../../img/adesivacao/recorte/igbm.webp" class="image">
                  <img src="../../img/adesivacao/recorte/igbm.webp" alt="IGBM" />
                </a>
                <h3>Fachada Adesivada</h3>
                <p>
                  Presença imponente na fachada adesivada para a faculdade IGBM.
                </p>
              </article>
              <article>
                <a href="../../img/adesivacao/recorte/farmarcia.webp" class="image">
                  <img src="../../img/adesivacao/recorte/farmarcia.webp" alt="Casa do Pará" />
                </a>
                <h3>Adesivo para Portas</h3>
                <p>
                  Detalhe funcional no adesivo para portas na Farmácia do Trabalhador.
                </p>
              </article>
              <article>
                <a href="../../img/adesivacao/recorte/retro.webp" class="image">
                  <img src="../../img/adesivacao/recorte/retro.webp" alt="bar do retro" />
                </a>
                <h3>Bar Retrô</h3>
                <p>
                  Charme vintage no adesivo de recorte para o Bar Retrô.
                </p>
              </article>
              <article>
                <a href="../../img/adesivacao/recorte/souzacruz.webp" class="image">
                  <img src="../../img/adesivacao/recorte/souzacruz.webp" alt="Souza Cruz" />
                </a>
                <h3>Adesivo de Recorte para Chão</h3>
                <p>
                  Inovação sob seus pés no adesivo de recorte para a Souza Cruz.
                </p>
              </article>
              <article>
                          <a href="../../img/adesivacao/leitoso/acai-natumix.webp" class="image"
                            ><img
                              src="../../img/adesivacao/leitoso/acai-natumix.webp"
                              alt="Açai Natumix: Energia Natural"
                          /></a>
                          <h3>Açai Natumix</h3>
                          <p>Energia natural no adesivo leitoso para Açai Natumix.</p>
                        </article>
                        <article>
                          <a href="../../img/adesivacao/leitoso/adesivacao-de-ambientes (2).webp" class="image"
                            ><img
                              src="../../img/adesivacao/leitoso/adesivacao-de-ambientes (2).webp"
                              alt="Adesivação de Ambientes: Transforme seu Espaço"
                          /></a>
                          <h3>Adesivação de Ambientes</h3>
                          <p>Transforme seu espaço com estilo no adesivo leitoso.</p>
                        </article>
                        <article>
                          <a href="../../img/adesivacao/leitoso/adesivacao-de-ambientes.webp" class="image"
                            ><img
                              src="../../img/adesivacao/leitoso/adesivacao-de-ambientes.webp"
                              alt="Adesivação para Ambientes: Estilo e Personalidade"
                          /></a>
                          <h3>Adesivação para Ambientes</h3>
                          <p>Estilo e personalidade no adesivo leitoso para ambientes.</p>
                        </article>
                        <article>
                          <a href="../../img/adesivacao/leitoso/bracol.webp" class="image"
                            ><img
                              src="../../img/adesivacao/leitoso/bracol.webp"
                              alt="Bracol: Qualidade em Adesivos"
                          /></a>
                          <h3>Bracol</h3>
                          <p>Qualidade em cada detalhe no adesivo leitoso para Bracol.</p>
                        </article>
                        <article>
                          <a href="../../img/adesivacao/leitoso/crt-certificacao-digital.webp" class="image"
                            ><img
                              src="../../img/adesivacao/leitoso/crt-certificacao-digital.webp"
                              alt="CRT Certificação Digital: Segurança e Confiança"
                          /></a>
                          <h3>CRT Certificação Digital</h3>
                          <p>
                            Segurança e confiança no adesivo leitoso para CRT Certificação
                            Digital.
                          </p>
                        </article>
                        <article>
                          <a href="../../img/adesivacao/leitoso/faculdade-ibgm (2).webp" class="image"
                            ><img
                              src="../../img/adesivacao/leitoso/faculdade-ibgm (2).webp"
                              alt="Faculdade IBGM: Excelência em Educação"
                          /></a>
                          <h3>Faculdade IBGM</h3>
                          <p>
                            Excelência em educação no adesivo leitoso para Faculdade IBGM.
                          </p>
                        </article>
                        <article>
                          <a href="../../img/adesivacao/leitoso/faculdade-ibgm.webp" class="image"
                            ><img
                              src="../../img/adesivacao/leitoso/faculdade-ibgm.webp"
                              alt="Faculdade IBGM: Ambiente de Aprendizado"
                          /></a>
                          <h3>Faculdade IBGM</h3>
                          <p>
                            Ambiente de aprendizado no adesivo leitoso para Faculdade
                            IBGM.
                          </p>
                        </article>
                        <article>
                          <a href="../../img/adesivacao/leitoso/faculdade-santa-helena.webp" class="image"
                            ><img
                              src="../../img/adesivacao/leitoso/faculdade-santa-helena.webp"
                              alt="Faculdade Santa Helena: Educação com Estilo"
                          /></a>
                          <h3>Faculdade Santa Helena</h3>
                          <p>
                            Educação com estilo no adesivo leitoso para Faculdade Santa
                            Helena.
                          </p>
                        </article>
                        <article>
                          <a href="../../img/adesivacao/leitoso/megamix-acai.webp" class="image"
                            ><img
                              src="../../img/adesivacao/leitoso/megamix-acai.webp"
                              alt="Megamix Açai: Sabor e Energia"
                          /></a>
                          <h3>Megamix Açai</h3>
                          <p>Sabor e energia no adesivo leitoso para Megamix Açai.</p>
                        </article>
                        <article>
                          <a href="../../img/adesivacao/leitoso/nadir-depilacoes.webp" class="image"
                            ><img
                              src="../../img/adesivacao/leitoso/nadir-depilacoes.webp"
                              alt="Nadir Depilações: Beleza e Conforto"
                          /></a>
                          <h3>Nadir Depilações</h3>
                          <p>
                            Beleza e conforto no adesivo leitoso para Nadir Depilações.
                          </p>
                        </article>
                        <article>
                          <a href="../../img/adesivacao/leitoso/norah.webp" class="image"
                            ><img
                              src="../../img/adesivacao/leitoso/norah.webp"
                              alt="Norah Acessórios: Elegância e Estilo"
                          /></a>
                          <h3>Norah Acessórios</h3>
                          <p>
                            Elegância e estilo no adesivo leitoso para Norah Acessórios.
                          </p>
                        </article>
                        <article>
                          <a href="../../img/adesivacao/leitoso/rodorrica-transportes.webp" class="image"
                            ><img
                              src="../../img/adesivacao/leitoso/rodorrica-transportes.webp"
                              alt="Rodorrica Transportes: Confiança e Agilidade"
                          /></a>
                          <h3>Rodorrica Transportes</h3>
                          <p>
                            Confiança e agilidade no adesivo leitoso para Rodorrica
                            Transportes.
                          </p>
                        </article>
                        <article>
                          <a href="../../img/adesivacao/leitoso/rr-advocacia.webp" class="image"
                            ><img
                              src="../../img/adesivacao/leitoso/rr-advocacia.webp"
                              alt="RR Advocacia: Transparência e Confiança"
                          /></a>
                          <h3>RR Advocacia</h3>
                          <p>
                            Transparência e confiança no adesivo leitoso para RR
                            Advocacia.
                          </p>
                        </article>
                        <article>
                          <a href="../../img/adesivacao/leitoso/skechers sports.webp" class="image"
                            ><img
                              src="../../img/adesivacao/leitoso/skechers sports.webp"
                              alt="Skechers Sports: Estilo e Desempenho"
                          /></a>
                          <h3>Skechers Sports</h3>
                          <p>
                            Estilo e desempenho no adesivo leitoso para Skechers Sports.
                          </p>
                        </article>
                        <article>
                          <a href="../../img/adesivacao/leitoso/souza-cruz (2).webp" class="image"
                            ><img
                              src="../../img/adesivacao/leitoso/souza-cruz (2).webp"
                              alt="Souza Cruz: Entrada de Impacto"
                          /></a>
                          <h3>Souza Cruz</h3>
                          <p>Entrada de impacto no adesivo leitoso para Souza Cruz.</p>
                        </article>
                        <article>
                          <a href="../../img/adesivacao/leitoso/souza-cruz.webp" class="image"
                            ><img
                              src="../../img/adesivacao/leitoso/souza-cruz.webp"
                              alt="Souza Cruz: Ambiente Interno Moderno"
                          /></a>
                          <h3>Souza Cruz</h3>
                          <p>
                            Ambiente interno moderno no adesivo leitoso para Souza Cruz.
                          </p>
                        </article>
                        <article>
                          <a href="../../img/adesivacao/leitoso/unibra.webp" class="image"
                            ><img
                              src="../../img/adesivacao/leitoso/unibra.webp"
                              alt="Unibra: Café de Qualidade"
                          /></a>
                          <h3>Unibra</h3>
                          <p>Café de qualidade no adesivo leitoso para Unibra.</p>
                        </article>
                        <article>
                          <a href="../../img/adesivacao/leitoso/vila-pinheiros.webp" class="image"
                            ><img
                              src="../../img/adesivacao/leitoso/vila-pinheiros.webp"
                              alt="Vila Pinheiros: Conforto e Elegância"
                          /></a>
                          <h3>Vila Pinheiros</h3>
                          <p>
                            Conforto e elegância no adesivo leitoso para Vila Pinheiros.
                          </p>
                        </article>
          
                        <article>
                          <a href="/pages/img/adesivacao/leitoso/WhatsApp Image 2023-02-15 at 18.42.13 (1).jpeg" class="image"
                            ><img
                              src="/pages/img/adesivacao/leitoso/WhatsApp Image 2023-02-15 at 18.42.13 (1).jpeg"
                              alt=""
                          /></a>
                          <h3>Adesivo Infantil</h3>
                          <p>Adesivo leitoso para decoração de ambientes infantis.</p>
                        </article>
          
                        <article>
                          <a href="/pages/img/adesivacao/leitoso/WhatsApp Image 2023-02-27 at 15.10.10.jpeg" class="image"
                            ><img
                              src="/pages/img/adesivacao/leitoso/WhatsApp Image 2023-02-27 at 15.10.10.jpeg"
                              alt=""
                          /></a>
                          <h3>Quadros em Adesivo Leitoso</h3>
                          <p>Quadros em adesivo leitoso para decoração de ambientes.</p>
                        </article>
          
                        <article>
                          <a href="/pages/img/adesivacao/leitoso/WhatsApp Image 2023-03-08 at 13.32.47 (2).jpeg" class="image"
                            ><img
                              src="/pages/img/adesivacao/leitoso/WhatsApp Image 2023-03-08 at 13.32.47 (2).jpeg"
                              alt=""
                          /></a>
                          <h3>Adesivo Infantil</h3>
                          <p>Adesivo leitoso para decoração de ambientes infantis.</p>
                        </article>
          
                        <article>
                          <a href="/pages/img/adesivacao/leitoso/WhatsApp Image 2023-03-08 at 13.32.47 (3).jpeg" class="image"
                            ><img
                              src="/pages/img/adesivacao/leitoso/WhatsApp Image 2023-03-08 at 13.32.47 (3).jpeg"
                              alt=""
                          /></a>
                          <h3>Adesivo Fundo do Mar</h3>
                          <p>
                            Adesivo leitoso para decoração de ambientes com tema fundo do
                            mar.
                          </p>
                        </article>
          
                        <article>
                          <a href="/pages/img/adesivacao/leitoso/WhatsApp Image 2023-03-08 at 13.32.48 (1).jpeg" class="image"
                            ><img
                              src="/pages/img/adesivacao/leitoso/WhatsApp Image 2023-03-08 at 13.32.48 (1).jpeg"
                              alt=""
                          /></a>
                          <h3>Adesivo Espaço Sideral</h3>
                          <p>
                            Adesivo leitoso para decoração de ambientes com tema espaço
                            sideral.
                          </p>
                        </article>
                      </div>
                    </section>
                  </div>
                </div>
            
          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <div id="sidebar">
        <div class="inner">
          <!-- Menu -->
          <nav id="menu">
            <header class="major">
              <h2>Menu</h2>
            </header>
            <ul>
              <li><a href="/index.html">Quem Somos</a></li>
              <li>
                <span class="opener">Adesivação</span>
                <ul>
                  <li><a href="/pages/components/adesivacao/adesivojateado.html">Adesivo Jateado</a></li>
                  <li><a href="/pages/components/adesivacao/adesivosvinilicos.html">Adesivos Vinílicos</a></li>
                  <li><a href="/pages/components/adesivacao/perfurado.html">Perfurado</a></li>
                  <li><a href="/pages/components/adesivacao/resinado.html">Resinado</a></li>
                  <li><a href="/pages/components/adesivacao/transparente.html">Transparente</a></li>
                  <li><a href="/pages/components/adesivacao/veiculos.html">Veículos</a></li>
                </ul>
              </li>
              <li><a href="../fachadas/fachada.html">Fachadas</a></li>
              <li><a href="../letreiros/letreiro.html">Letreiros</a></li>
              <li><a href="/pages/components/lonas/lona.html">Lonas</a></li>
              <li>
                <span class="opener">Brindes Personalizados</span>
                <ul>
                  <li><a href="../brindes/mdf.html">Brindes MDF</a></li>
                  <li><a href="../brindes/canecas.html">Canecas</a></li>
                  <li><a href="../brindes/outros.html">Outros</a></li>
                  <li><a href="../brindes/garrafa.html">Garrafas</a></li>
                </ul>
              </li>
              <li><a href="../placas/placas.html">Placas e Banners</a></li>
              <li><a href="../carimbos/carimbos.html">Carimbos</a></li>

              <li>
                <a href="../formatura/formatura.html"
                  >Produtos para Formatura</a
                >
              </li>
              <li>
                <span class="opener">Comunicação Visual</span>
                <ul>
                  <li>
                    <a href="../comunicacao/adesivos.html"
                      >Adesivos para Veículos</a
                    >
                  </li>
                  <li>
                    <a href="../comunicacao/cartoes.html"
                      >Cartões de Visita e Cartazes</a
                    >
                  </li>
                  <li>
                    <a href="../comunicacao/panfleto.html"
                      >Panfletos e Envelopes</a
                    >
                  </li>
                  <li>
                    <a href="../comunicacao/sinalizacao.html"
                      >Sinalização Interna e Externa</a
                    >
                  </li>
                </ul>
              </li>
              <li>
                <a href="../acrilico/acrilico.html">Acrilicos</a>
              </li>
              <li>
                <a href="../windbanners/windbanner.html"
                  >Windbanners e Totens</a
                >
              </li>
            </ul>
          </nav>
          <!-- Section -->
          <section>
            <h2>Nossos Serviços</h2>
            <div class="mini-posts">
              <article>
                <a
                  href="https://carolgrafica.com.br/images/servicos/oi-5a721d9c6d35b.jpg"
                  class="image"
                  ><img
                    src="https://carolgrafica.com.br/images/servicos/oi-5a721d9c6d35b.jpg"
                    alt=""
                /></a>
                <p>
                  Referência em Adesivação de Veículos de pequeno, médio e
                  grande porte.
                </p>
                <a
                  href="/pages/components/adesivacao/veiculos.html"
                  class="button"
                  >Veja Mais</a
                >
              </article>

              <article>
                <a
                  href="https://carolgrafica.com.br/images/produtos/dra.-ketelen-mariane-5d69030fe9fa9.jpg"
                  class="image"
                  ><img
                    src="https://carolgrafica.com.br/images/produtos/dra.-ketelen-mariane-5d69030fe9fa9.jpg"
                    alt=""
                /></a>
                <p>
                  Temos produtos em MDF, PVC e Acrílico de Alta qualidade,
                  Versatilidade e Sustentabilidade para Cada Projeto!
                </p>
                <a href="/pages/components/brindes/mdf.html" class="button"
                  >Veja Mais</a
                >
              </article>
              <article>
                <a
                  href="https://carolgrafica.com.br/images/servicos/academia-vida-ativa-5c10533faf9da.jpg"
                  class="image"
                  ><img
                    src="https://carolgrafica.com.br/images/servicos/academia-vida-ativa-5c10533faf9da.jpg"
                    alt=""
                /></a>
                <p>
                  Fazemos adesivos resinados, perfurados, transparentes e
                  leitosos para todos os tipos de veículos e ambientes.
                </p>
              </article>
            </div>
            <ul class="actions">
              <li>
                <a
                  href="/pages/components/adesivacao/resinado.html"
                  class="button"
                  >Veja Mais</a
                >
              </li>
            </ul>
          </section>
          <!-- Section -->
          <section>
            <header class="major">
              <h2>Sustentabilidade</h2>
            </header>
            <p>
              A Carol Gráfica procura sempre trabalhar com produtos que
              apresentam o menor impacto ao meio-ambiente. Exemplo disso é o
              acrílico, um material 100% reciclável e ecologicamente correto.
              Estamos também na era da impressão à base de látex, que dispensa o
              uso de solventes no processo de cura e é a tecnologia com mais
              certificação ambiental do mercado.
            </p>
            <ul class="contact">
              <li class="icon solid fa-envelope">
                <a href="mailto:contato@carolgrafica.com.br"
                  >contato@carolgrafica.com.br</a
                >
              </li>
              <li class="icon solid fa-phone">(81)4101-0853</li>
              <li class="icon solid fa-phone">(81)3455-9599</li>
              <li class="icon solid fa-home">
                Localizada na Avenida Doutor José Rufino 1385.<br />
                Areias, Recife - PE, CEP 50900-660. <br />
                lado do Mini Shopping de Areias e da Carol Esportes.<br />
                Venha nos fazer uma visita!
              </li>
            </ul>
            <h2>Nossa Localização</h2>
            <article class="frameMaps">
              <iframe
                src="https://www.google.com/maps/embed?pb=!3m2!1spt-BR!2sbr!4v1720784962925!5m2!1spt-BR!2sbr!6m8!1m7!1suv_B2pxWU_cw5VdkJiQRgg!2m2!1d-8.09117334416194!2d-34.93553239949443!3f116.40948654250664!4f4.007482363925462!5f0.7820865974627469"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </article>
          </section>

          <!-- Footer -->
          <footer id="footer">
            <p class="copyright">
              &copy; © Carol Gráfica. All rights reserved.
            </p>
          </footer>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="../../../../assets/js/jquery.min.js"></script>
    <script src="../../../../assets/js/browser.min.js"></script>
    <script src="../../../../assets/js/breakpoints.min.js"></script>
    <script src="../../../../assets/js/util.js"></script>
    <script src="../../../../assets/js/main.js"></script>
  </body>

</html>
