<!DOCTYPE html>

<html>
  <head>
    <title>Carol Gráfica</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="../../../../assets/css/main.css" />
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Items -->
          <section>
            <header class="major">
              <h2>Adesivos de Recorte</h2>
            </header>
            <div class="posts">
              <article>
                <a href="../../img/adesivacao/recorte/jonhson.webp" class="image">
                  <img src="../../img/adesivacao/recorte/jonhson.webp" alt="Jhonson" />
                </a>
                <h3>Adesivo Recortado Pequeno</h3>
                <p>
                  Elegância em cada detalhe no adesivo recortado para a Jhonson.
                </p>
              </article>
              <article>
                <a href="../../img/adesivacao/recorte/alameda.webp" class="image">
                  <img src="../../img/adesivacao/recorte/alameda.webp" alt="Alameda" />
                </a>
                <h3>Adesivo Recortado</h3>
                <p>
                  Sofisticação e estilo no adesivo recortado para a Alameda.
                </p>
              </article>
              <article>
                <a href="../../img/adesivacao/recorte/edf.webp" class="image">
                  <img src="../../img/adesivacao/recorte/edf.webp" alt="Edf" />
                </a>
                <h3>Adesivo de Letras</h3>
                <p>
                  Identidade marcante no adesivo de letras para Eduardo Feitosa.
                </p>
              </article>
              <article>
                <a href="../../img/adesivacao/recorte/igbm.webp" class="image">
                  <img src="../../img/adesivacao/recorte/igbm.webp" alt="IGBM" />
                </a>
                <h3>Fachada Adesivada</h3>
                <p>
                  Presença imponente na fachada adesivada para a faculdade IGBM.
                </p>
              </article>
              <article>
                <a href="../../img/adesivacao/recorte/farmarcia.webp" class="image">
                  <img src="../../img/adesivacao/recorte/farmarcia.webp" alt="Casa do Pará" />
                </a>
                <h3>Adesivo para Portas</h3>
                <p>
                  Detalhe funcional no adesivo para portas na Farmácia do Trabalhador.
                </p>
              </article>
              <article>
                <a href="../../img/adesivacao/recorte/retro.webp" class="image">
                  <img src="../../img/adesivacao/recorte/retro.webp" alt="bar do retro" />
                </a>
                <h3>Bar Retrô</h3>
                <p>
                  Charme vintage no adesivo de recorte para o Bar Retrô.
                </p>
              </article>
              <article>
                <a href="../../img/adesivacao/recorte/souzacruz.webp" class="image">
                  <img src="../../img/adesivacao/recorte/souzacruz.webp" alt="Souza Cruz" />
                </a>
                <h3>Adesivo de Recorte para Chão</h3>
                <p>
                  Inovação sob seus pés no adesivo de recorte para a Souza Cruz.
                </p>
              </article>
              <article>
                <a href="../../img/adesivacao/recorte/acai.webp" class="image">
                  <img src="../../img/adesivacao/recorte/acai.webp" alt="Açai" />
                </a>
                <h3>Açai</h3>
                <p>
                  Frescura e sabor no adesivo de recorte para um Açai.
                </p>
              </article>
            </div>
            
          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <div id="sidebar">
        <div class="inner">
          <!-- Menu -->
          <nav id="menu">
            <header class="major">
              <h2>Menu</h2>
            </header>
            <ul>
              <li><a href="index.html">Quem Somos</a></li>
              <li>
                <span class="opener">Adesivação</span>
                <ul>
                  <li><a href="./pages/components/adesivacao/adesivojateado.html">Adesivo Jateado</a></li>
                  <li><a href="./pages/components/adesivacao/adesivosvinilicos.html">Adesivos Vinílicos</a></li>
                  <li><a href="./pages/components/adesivacao/perfurado.html">Perfurado</a></li>
                  <li><a href="/pages/components/adesivacao/resinado.html">Resinado</a></li>
                  <li><a href="/pages/components/adesivacao/transparente.html">Transparente</a></li>
                  <li><a href="/pages/components/adesivacao/veiculos.html">Veículos</a></li>
                </ul>
              </li>
              <li><a href="../fachadas/fachada.html">Fachadas</a></li>
              <li><a href="../letreiros/letreiro.html">Letreiros</a></li>
              <li>
                <span class="opener">Brindes Personalizados</span>
                <ul>
                  <li><a href="../brindes/mdf.html">Brindes MDF</a></li>
                  <li><a href="../brindes/canecas.html">Canecas</a></li>
                  <li><a href="../brindes/outros.html">Outros</a></li>
                  <li><a href="../brindes/garrafa.html">Garrafas</a></li>
                </ul>
              </li>
              <li><a href="../placas/placas.html">Placas e Banners</a></li>
              <li><a href="../carimbos/carimbos.html">Carimbos</a></li>

              <li>
                <a href="../formatura/formatura.html"
                  >Produtos para Formatura</a
                >
              </li>
              <li>
                <span class="opener">Comunicação Visual</span>
                <ul>
                  <li>
                    <a href="../comunicacao/adesivos.html"
                      >Adesivos para Veículos</a
                    >
                  </li>
                  <li>
                    <a href="../comunicacao/cartoes.html"
                      >Cartões de Visita e Cartazes</a
                    >
                  </li>
                  <li>
                    <a href="../comunicacao/panfleto.html"
                      >Panfletos e Envelopes</a
                    >
                  </li>
                  <li>
                    <a href="../comunicacao/sinalizacao.html"
                      >Sinalização Interna e Externa</a
                    >
                  </li>
                </ul>
              </li>
              <li>
                <a href="../acrilico/acrilico.html">Acrilicos</a>
              </li>
              <li>
                <a href="../windbanners/windbanner.html"
                  >Windbanners e Totens</a
                >
              </li>
            </ul>
          </nav>
          <!-- Section -->
          <section>
            <h2>Nossos Serviços</h2>
            <div class="mini-posts">
              <article>
                <a
                  href="https://carolgrafica.com.br/images/servicos/oi-5a721d9c6d35b.jpg"
                  class="image"
                  ><img
                    src="https://carolgrafica.com.br/images/servicos/oi-5a721d9c6d35b.jpg"
                    alt=""
                /></a>
                <p>
                  Referência em Adesivação de Veículos de pequeno, médio e
                  grande porte.
                </p>
                <a
                  href="/pages/components/adesivacao/veiculos.html"
                  class="button"
                  >Veja Mais</a
                >
              </article>

              <article>
                <a
                  href="https://carolgrafica.com.br/images/produtos/dra.-ketelen-mariane-5d69030fe9fa9.jpg"
                  class="image"
                  ><img
                    src="https://carolgrafica.com.br/images/produtos/dra.-ketelen-mariane-5d69030fe9fa9.jpg"
                    alt=""
                /></a>
                <p>
                  Temos produtos em MDF, PVC e Acrílico de Alta qualidade,
                  Versatilidade e Sustentabilidade para Cada Projeto!
                </p>
                <a href="/pages/components/brindes/mdf.html" class="button"
                  >Veja Mais</a
                >
              </article>
              <article>
                <a
                  href="https://carolgrafica.com.br/images/servicos/academia-vida-ativa-5c10533faf9da.jpg"
                  class="image"
                  ><img
                    src="https://carolgrafica.com.br/images/servicos/academia-vida-ativa-5c10533faf9da.jpg"
                    alt=""
                /></a>
                <p>
                  Fazemos adesivos resinados, perfurados, transparentes e
                  leitosos para todos os tipos de veículos e ambientes.
                </p>
              </article>
            </div>
            <ul class="actions">
              <li>
                <a
                  href="/pages/components/adesivacao/resinado.html"
                  class="button"
                  >Veja Mais</a
                >
              </li>
            </ul>
          </section>
          <!-- Section -->
          <section>
            <header class="major">
              <h2>Sustentabilidade</h2>
            </header>
            <p>
              A Carol Gráfica procura sempre trabalhar com produtos que
              apresentam o menor impacto ao meio-ambiente. Exemplo disso é o
              acrílico, um material 100% reciclável e ecologicamente correto.
              Estamos também na era da impressão à base de látex, que dispensa o
              uso de solventes no processo de cura e é a tecnologia com mais
              certificação ambiental do mercado.
            </p>
            <ul class="contact">
              <li class="icon solid fa-envelope">
                <a href="mailto:contato@carolgrafica.com.br"
                  >contato@carolgrafica.com.br</a
                >
              </li>
              <li class="icon solid fa-phone">(81)4101-0853</li>
              <li class="icon solid fa-phone">(81)3455-9599</li>
              <li class="icon solid fa-home">
                Localizada na Avenida Doutor José Rufino 1385.<br />
                Areias, Recife - PE, CEP 50900-660. <br />
                lado do Mini Shopping de Areias e da Carol Esportes.<br />
                Venha nos fazer uma visita!
              </li>
            </ul>
            <h2>Nossa Localização</h2>
            <article class="frameMaps">
              <iframe
                src="https://www.google.com/maps/embed?pb=!3m2!1spt-BR!2sbr!4v1720784962925!5m2!1spt-BR!2sbr!6m8!1m7!1suv_B2pxWU_cw5VdkJiQRgg!2m2!1d-8.09117334416194!2d-34.93553239949443!3f116.40948654250664!4f4.007482363925462!5f0.7820865974627469"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </article>
          </section>

          <!-- Footer -->
          <footer id="footer">
            <p class="copyright">
              &copy; © Carol Gráfica. All rights reserved.
            </p>
          </footer>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="../../../../assets/js/jquery.min.js"></script>
    <script src="../../../../assets/js/browser.min.js"></script>
    <script src="../../../../assets/js/breakpoints.min.js"></script>
    <script src="../../../../assets/js/util.js"></script>
    <script src="../../../../assets/js/main.js"></script>
  </body>
</html>
