<!DOCTYPE html>

<html>
  <head>
  <link rel="shortcut icon" href="../../../images/favicon.png" type="image/x-icon">

    <title>Carol Gráfica</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="../../../../assets/css/main.css" />
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Items -->
          <section>
            <header class="major">
              <h2>Adesivos em Veículos</h2>
            </header>
            <div class="posts">
              <article>
                <a href="../../img/adesivacao/veiculos/banda-kitara.webp" class="image">
                  <img src="../../img/adesivacao/veiculos/banda-kitara.webp" alt="Impacto Visual Garantido">
                </a>
                <h3>Adesivação de Veículo para Banda Kitara</h3>
                <p>
                  Destaque a sua banda com adesivos que capturam a atenção em
                  cada show e estrada. Personalização de veículos para uma
                  presença inesquecível.
                </p>
              </article>
              <article>
                <a href="../../img/adesivacao/veiculos/casa-do-construtor.webp" class="image">
                  <img src="../../img/adesivacao/veiculos/casa-do-construtor.webp" alt="Construindo Identidade">
                </a>
                <h3>Adesivação de Veículo para Casa do Construtor</h3>
                <p>
                  Leve a marca da Casa do Construtor a todos os cantos com
                  adesivos personalizados. Visibilidade e profissionalismo em
                  cada projeto.
                </p>
              </article>
              <article>
                <a href="../../img/adesivacao/veiculos/funeraria-sao-miguel.webp" class="image">
                  <img src="../../img/adesivacao/veiculos/funeraria-sao-miguel.webp" alt="Simplicidade e Respeito">
                </a>
                <h3>Adesivação de Veículo para Funerária São Miguel</h3>
                <p>
                  Transporte com dignidade e respeito. Adesivos discretos e
                  elegantes para serviços funerários.
                </p>
              </article>
              <article>
                <a href="../../img/adesivacao/veiculos/hospital-especial.webp" class="image">
                  <img src="../../img/adesivacao/veiculos/hospital-especial.webp" alt="Saúde em Movimento">
                </a>
                <h3>Adesivação de Veículo para Hospital Especial</h3>
                <p>
                  Leve a identidade do hospital às ruas com adesivos que
                  transmitem confiança e cuidado. Saúde em movimento, onde quer
                  que vá.
                </p>
              </article>
              <article>
                <a href="../../img/adesivacao/veiculos/oi.webp" class="image">
                  <img src="../../img/adesivacao/veiculos/oi.webp" alt="Conexão Visual">
                </a>
                <h3>Adesivação de Veículo para Oi</h3>
                <p>
                  Adesivação que conecta a marca Oi ao público. Visibilidade e
                  inovação em cada curva.
                </p>
              </article>
              <article>
                <a href="../../img/adesivacao/veiculos/rvidros.webp" class="image">
                  <img src="../../img/adesivacao/veiculos/rvidros.webp" alt="Transparência em Movimento">
                </a>
                <h3>Adesivação de Veículo para RVidros</h3>
                <p>
                  Mostre a transparência e qualidade da RVidros com adesivos que
                  destacam seu veículo nas ruas.
                </p>
              </article>
              <article>
                <a href="../../img/adesivacao/veiculos/santista (2).webp" class="image">
                  <img src="../../img/adesivacao/veiculos/santista (2).webp" alt="Estilo e Funcionalidade">
                </a>
                <h3>Adesivação de Veículo para Santista</h3>
                <p>
                  Adesivos que combinam estilo e funcionalidade para destacar a
                  marca Santista em qualquer lugar.
                </p>
              </article>
              <article>
                <a href="../../img/adesivacao/veiculos/santista.webp" class="image">
                  <img src="../../img/adesivacao/veiculos/santista.webp" alt="Qualidade em Movimento">
                </a>
                <h3>Adesivação de Veículo para Santista</h3>
                <p>
                  Qualidade que se vê. Adesivação que mantém a excelência da
                  Santista nas ruas.
                </p>
              </article>
              <article>
                <a href="../../img/adesivacao/veiculos/st-art-design.webp" class="image">
                  <img src="../../img/adesivacao/veiculos/st-art-design.webp" alt="Criatividade sobre Rodas">
                </a>
                <h3>Adesivação de Veículo para St. Art Design</h3>
                <p>
                  Transforme seu veículo em uma obra de arte em movimento.
                  Adesivação criativa para destacar sua marca.
                </p>
              </article>
              <article>
                <a href="../../img/adesivacao/veiculos/tininho-pet-racoes.webp" class="image">
                  <img src="../../img/adesivacao/veiculos/tininho-pet-racoes.webp" alt="Amor e Cuidados">
                </a>
                <h3>Adesivação de Veículo para Tininho Pet Rações</h3>
                <p>
                  Leve o amor pelos pets a cada esquina com adesivos que mostram
                  o carinho e dedicação da Tininho Pet Rações.
                </p>
              </article>
              <article>
                <a href="../../img/adesivacao/veiculos/tony.webp" class="image">
                  <img src="../../img/adesivacao/veiculos/tony.webp" alt="Excelência na Estrada">
                </a>
                <h3>Adesivação de Veículo para Tony</h3>
                <p>
                  Adesivação de alta qualidade para veículos, destacando a
                  excelência e profissionalismo da marca Tony.
                </p>
              </article>
              <article>
                <a href="../../img/adesivacao/veiculos/turquesa.webp" class="image">
                  <img src="../../img/adesivacao/veiculos/turquesa.webp" alt="Confiança em Movimento">
                </a>
                <h3>Adesivação de Veículo para Turquesa</h3>
                <p>
                  Confiança e segurança em cada quilômetro. Adesivos que
                  reforçam a identidade da Turquesa.
                </p>
              </article>
              <article>
                <a href="../../img/adesivacao/veiculos/veiculos-escolares.webp" class="image">
                  <img src="../../img/adesivacao/veiculos/veiculos-escolares.webp" alt="Segurança e Visibilidade">
                </a>
                <h3>Adesivação de Veículo Escolar</h3>
                <p>
                  Segurança e visibilidade para transporte escolar. Adesivos que
                  protegem e destacam.
                </p>
              </article>
              <article>
                <a href="../../img/adesivacao/veiculos/WhatsApp Image 2023-02-26 at 11.08.59 (1).webp" class="image">
                  <img src="../../img/adesivacao/veiculos/WhatsApp Image 2023-02-26 at 11.08.59 (1).webp" alt="Movimento e Saúde">
                </a>
                <h3>Adesivação de Veículo</h3>
                <p>Destaque a sua marca e leve saúde a todos os lugares.</p>
              </article>
              <article>
                <a href="../../img/adesivacao/veiculos/image00011(1).webp" class="image">
                  <img src="../../img/adesivacao/veiculos/image00011(1).webp" alt="">
                </a>
                <h3>Adesivação Mediar</h3>
                <p>
                  Adesivação de veículos para a Mediar. Destaque a sua marca e
                  leve saúde a todos os lugares.
                </p>
              </article>
              <article>
                <a href="../../img/adesivacao/veiculos/image00012(1).webp" class="image">
                  <img src="../../img/adesivacao/veiculos/image00012(1).webp" alt="">
                </a>
                <h3>Adesivação Mediar</h3>
                <p>
                  Adesivação de veículos para a Mediar. Destaque a sua marca e
                  leve saúde a todos os lugares.
                </p>
              </article>
              <article>
                <a href="../../img/adesivacao/veiculos/image00013(1).webp" class="image">
                  <img src="../../img/adesivacao/veiculos/image00013(1).webp" alt="">
                </a>
                <h3>Adesivação Mediar</h3>
                <p>
                  Adesivação de veículos para a Mediar. Destaque a sua marca e
                  leve saúde a todos os lugares.
                </p>
              </article>
              <article>
                <a href="../../img/adesivacao/veiculos/image00015(1).webp" class="image">
                  <img src="../../img/adesivacao/veiculos/image00015(1).webp" alt="">
                </a>
                <h3>Feijões Turquesa</h3>
                <p>Adesivação de veículos para a Feijões Turquesa</p>
              </article>
              <article>
                <a href="../../img/adesivacao/veiculos/image00016(1).webp" class="image">
                  <img src="../../img/adesivacao/veiculos/image00016(1).webp" alt="">
                </a>
                <h3>Feijões Turquesa</h3>
                <p>Adesivação de veículos para a Feijões Turquesa</p>
              </article>
              <article>
                <a href="../../img/adesivacao/veiculos/image00017(1).webp" class="image">
                  <img src="../../img/adesivacao/veiculos/image00017(1).webp" alt="">
                </a>
                <h3>Feijões Turquesa</h3>
                <p>Adesivação de veículos para a Feijões Turquesa</p>
              </article>
              <article>
                <a href="../../img/adesivacao/veiculos/image00022(1).webp" class="image">
                  <img src="../../img/adesivacao/veiculos/image00022(1).webp" alt="">
                </a>
                <h3>Carros Feijões Turquesa</h3>
                <p>Adesivação de veículos para a Feijões Turquesa</p>
              </article>
              <article>
                <a href="../../img/adesivacao/veiculos/image00023(1).webp" class="image">
                  <img src="../../img/adesivacao/veiculos/image00023(1).webp" alt="">
                </a>
                <h3>Carros Feijões Turquesa</h3>
                <p>Adesivação de veículos para a Feijões Turquesa</p>
              </article>
            </div>
            
          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <div id="sidebar">
        <div class="inner">
          <!-- Menu -->
          <nav id="menu">
            <header class="major">
              <h2>Menu</h2>
            </header>
            <ul>
              <li><a href="/index.html">Quem Somos</a></li>
              <li>
                <span class="opener">Adesivação</span>
                <ul>
                  <li><a href="/pages/components/adesivacao/adesivosvinilicos.html">Adesivos Vinílicos</a></li>
                  <li><a href="/pages/components/adesivacao/perfurado.html">Perfurado</a></li>
                  <li><a href="/pages/components/adesivacao/resinado.html">Resinado</a></li>
                  <li><a href="/pages/components/adesivacao/transparente.html">Transparente</a></li>
                  <li><a href="/pages/components/adesivacao/veiculos.html">Veículos</a></li>
                </ul>
              </li>
              <li><a href="../fachadas/fachada.html">Fachadas</a></li>
              <li><a href="../letreiros/letreiro.html">Letreiros</a></li>
              <li><a href="/pages/components/lonas/lona.html">Lonas</a></li>
              <li>
                <span class="opener">Brindes Personalizados</span>
                <ul>
                  <li><a href="../brindes/mdf.html">Brindes MDF</a></li>
                  <li><a href="../brindes/canecas.html">Canecas</a></li>
                  <li><a href="../brindes/outros.html">Outros</a></li>
                  <li><a href="../brindes/garrafa.html">Garrafas</a></li>
                </ul>
              </li>
              <li><a href="../placas/placas.html">Placas e Banners</a></li>
              <li><a href="../carimbos/carimbos.html">Carimbos</a></li>

              <li>
                <a href="../formatura/formatura.html"
                  >Produtos para Formatura</a
                >
              </li>
              <li>
                <span class="opener">Comunicação Visual</span>
                <ul>
                  <li>
                    <a href="../comunicacao/adesivos.html"
                      >Adesivos para Veículos</a
                    >
                  </li>
                  <li>
                    <a href="../comunicacao/cartoes.html"
                      >Cartões de Visita e Cartazes</a
                    >
                  </li>
                  <li>
                    <a href="../comunicacao/panfleto.html"
                      >Panfletos e Envelopes</a
                    >
                  </li>
                  <li>
                    <a href="../comunicacao/sinalizacao.html"
                      >Sinalização Interna e Externa</a
                    >
                  </li>
                </ul>
              </li>
              <li>
                <a href="../acrilico/acrilico.html">Acrilicos</a>
              </li>
              <li>
                <a href="../windbanners/windbanner.html"
                  >Windbanners e Totens</a
                >
              </li>
            </ul>
          </nav>
          <!-- Section -->
          <section>
          <h2>Nossos Serviços</h2>
          <div class="mini-posts">
            <article>
              <a href="../../../images/ImagensHome/oi-5a721d9c6d35b.jpg" class="image"><img
                  src="../../../images/ImagensHome/oi-5a721d9c6d35b.jpg" alt="" /></a>
              <p>
                Referência em Adesivação de Veículos de pequeno, médio e grande porte.
              </p>
              <a href="/pages/components/adesivacao/veiculos.html" class="button">Veja Mais</a>
            </article>

            <article>
              <a href="../../../images/ImagensHome/dra.-ketelen-mariane-5d69030fe9fa9.jpg"
                class="image"><img
                  src="../../../images/ImagensHome/dra.-ketelen-mariane-5d69030fe9fa9.jpg" alt="" /></a>
              <p>
                Temos produtos em MDF, PVC e Acrílico de Alta qualidade, Versatilidade e Sustentabilidade para Cada
                Projeto!
              </p>
              <a href="/pages/components/brindes/mdf.html" class="button">Veja Mais</a>
            </article>
            <article>
              <a href="../../../images/ImagensHome/academia-vida-ativa-5c10533faf9da.jpg"
                class="image"><img
                  src="../../../images/ImagensHome/academia-vida-ativa-5c10533faf9da.jpg" alt="" /></a>
              <p>
                Fazemos adesivos resinados, perfurados, transparentes e leitosos para todos os tipos de veículos e
                ambientes.
              </p>
            </article>
          </div>
          <ul class="actions">
            <li>
              <a href="/pages/components/adesivacao/resinado.html" class="button">Veja Mais</a>
            </li>
          </ul>
        </section>
          <!-- Section -->
          <section>
            <header class="major">
              <h2>Sustentabilidade</h2>
            </header>
            <p>
              A Carol Gráfica procura sempre trabalhar com produtos que
              apresentam o menor impacto ao meio-ambiente. Exemplo disso é o
              acrílico, um material 100% reciclável e ecologicamente correto.
              Estamos também na era da impressão à base de látex, que dispensa o
              uso de solventes no processo de cura e é a tecnologia com mais
              certificação ambiental do mercado.
            </p>
            <ul class="contact">
              <li class="icon solid fa-envelope">
                <a href="mailto:contato@carolgrafica.com.br"
                  >contato@carolgrafica.com.br</a
                >
              </li>
              <li class="icon solid fa-phone">(81)4101-0853</li>
              <li class="icon solid fa-phone">(81)3455-9599</li>
              <li class="icon solid fa-home">
                Localizada na Avenida Doutor José Rufino 1385.<br />
                Areias, Recife - PE, CEP 50900-660. <br />
                lado do Mini Shopping de Areias e da Carol Esportes.<br />
                Venha nos fazer uma visita!
              </li>
            </ul>
            <h2>Nossa Localização</h2>
            <article class="frameMaps">
              <iframe
                src="https://www.google.com/maps/embed?pb=!3m2!1spt-BR!2sbr!4v1720784962925!5m2!1spt-BR!2sbr!6m8!1m7!1suv_B2pxWU_cw5VdkJiQRgg!2m2!1d-8.09117334416194!2d-34.93553239949443!3f116.40948654250664!4f4.007482363925462!5f0.7820865974627469"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </article>
          </section>

          <!-- Footer -->
          <footer id="footer">
            <p class="copyright">
              &copy; © Carol Gráfica. All rights reserved.
            </p>
          </footer>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="../../../../assets/js/jquery.min.js"></script>
    <script src="../../../../assets/js/browser.min.js"></script>
    <script src="../../../../assets/js/breakpoints.min.js"></script>
    <script src="../../../../assets/js/util.js"></script>
    <script src="../../../../assets/js/main.js"></script>
  </body>
</html>
